# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables / API keys
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# RAG / uploaded files
uploads/
documents/
*.pdf

# Vector database
chroma_db/
.faiss/

# OS
.DS_Store
Thumbs.db
